h2{
    color: purple;
    font-size: 20px;
}

h4{
    border: 2px solid blue;
}

li {
    color: white;
}

body{
    background-image: url('https://s2.glbimg.com/o3IEB8vbwV1MIsws4k4t3I2Ny-s=/e.glbimg.com/og/ed/f/original/2020/05/26/falcon_heavy_demo_mission_40126461851.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}